# ignore all logs                                 
*.git                                             
                                                  
# ignore stuff folders                            
mug                                               
                                                  
# ignore ZIP files                                
*.zip                                             
                                                  
# ignore Vivado subfolders                        
Vivado/*                                          
# but:                                            
# NOT xpr file                                    
!Vivado/*.xpr                                     
# NOT synthesis/simulation sources                
!Vivado/*.srcs                                    
# NOT simulation vaweforms conf.                  
!Vivado/*.wcfg                                    
                                                  
# Ignore Office temporary documents               
*~$*.*                                            
                                                  
# Ignore any files with BETA/TEMP/LOCAL/DRAFT tag 
*BETA*                                            
*beta*                                            
*TEMP*                                            
*temp*                                            
*TMP*                                             
*tmp*                                             
*LOCAL*                                           
*local*                                           
*DRAFT*                                           
*draft*                                           

